{% extends 'base.html' %}
{% block content %}
<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h5 class="card-title">Upload Video</h5>
        <p class="card-text">Drop your MP4 or AVI video or click to upload</p>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" class="form-control mb-3" accept="all">
            <button type="submit" class="btn btn-primary w-100">Next</button>
        </form>
    </div>
</div>
{% endblock %}
